@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

@media (min-width: 992px) {
  .app > .container-fluid {
    max-width: 75%;
  }
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}
